.carousel-section {
    .carousel-container {
        .carousel-title {
            font-size: 1.5rem;
        }
        .carousel-element,
        .carousel-text {
            padding: 1rem;
            max-width: 800px;
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    background-color: black;
}

@media (min-width: 992px) {
    .carousel-section {
        .carousel-container {
            .carousel-title {
                font-size: 2.5rem;
            }
        }
    }
}