<div class="section carousel-section">
    <div class="container carousel-container d-flex flex-column justify-content-between align-items-center">
        <h1 class="text-center carousel-title">BRINDAMOS PLENA SATISFACCIÓN A NUESTROS CLIENTES</h1>
        <h2 class="h4 light-text carousel-text text-center">haciendo de sus necesidades las nuestras, para ello, integramos un equipo de profesionales inmobiliarios comprometidos con el cambio y la excelencia.</h2>
        <div class="carousel-element">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/01.png" alt="Random first slide">
                        <div class="overlay">&nbsp;</div>
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/02.png" alt="Random first slide">
                        <div class="overlay">&nbsp;</div>
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/03.png" alt="Random first slide">
                        <div class="overlay">&nbsp;</div>
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/04.png" alt="Random first slide">
                        <div class="overlay">&nbsp;</div>
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>