<div class="section app-info-section mt-4">
    <div class="container app-info-container">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/images/App_KSI.png" class="mobile-app-img" alt="ksi aplicacion mobil">
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-center app-info-text vh-50">
                <h3>Toda la administración en tus manos</h3>
                <p class="text-justify">
                    En KSI ponemos a tu servicio nuestra aplicación que facilitara el control administrativo de tu propiedad.
                </p>
                <p class="text-justify">
                    Consulta saldos, realiza pagos, recibe notificaciones y establece canales de comunicación con tus vecinos, todo desde tu dispositivo móvil.
                </p>
                <div class="store-buttons">
                    <a href="#">
                        <img src="assets/icons/App_Store.svg" alt="app store link">
                    </a>
                    <a href="#">
                        <img src="assets/icons/Google_Play.svg" alt="play store link">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>