.login-section {
    background: url(src/assets/images/architecture-1868547.jpg), radial-gradient(circle, #aaaaaa 0%, #00022ae5 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    .login-container {
        .btn {
            font-size: small;
            @media (min-width: 768px) {
                font-size: large;
            }
        }
        .logo-container {
            width: 40%;
        }
    }
}