.header-section {
    background: url(src/assets/images/architecture-1868547.jpg), radial-gradient(circle, #aaaaaa 0%, #00022ae5 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    .header-container {
        .admin-card {
            width: 80%;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            font-size: small;
            background-color: transparentize(#ffffff, 0.4);
            @media (min-width: 576px) {
                margin-bottom: 4rem;
                padding: 1rem 2rem;
            }
            @media (min-width: 768px) {
                font-size: large;
                padding: 2rem 4rem;
            }
        }
        .btn {
            font-size: small;
            @media (min-width: 768px) {
                font-size: large;
            }
        }
    }
}