<div class="section header-section vh-100">
    <div class="container header-container d-flex flex-column justify-content-center align-items-center h-100">
        <div class="admin-card text-center">
            <p>Kapital Soluciones Inmobiliarias, en beneficio de los condóminos y dueños de inmuebles, nos encargamos de la administración de propiedades como edificios residenciales, condominios, edificios de oficinas, departamentos o cualquier otro inmueble.</p>
        </div>
        <a type="button" role="button" (click)="onloginPageClick()" class="btn btn-lg btn-info btn-round mx-auto">Ir al sistema de administración</a>
    </div>
</div>