<div class="section" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 p-5">
                <h3>Acerca de nosotros</h3>
                <p class="light-text">
                    Somos una empresa líder en el mercado inmobiliario con más de 14 años de trayectoria, nos especializamos en: Administración de inmuebles, desarrollo, comercialización y arrendamiento, inmobiliario.
                </p>
            </div>
            <div class="col-sm-4 p-5">
                <h3>Contáctanos</h3>
                <p class="light-text">
                    Insurgentes Sur 465, Col. Hipódromo Condesa, C.P. 06100, CDMX.
                </p>
                <p class="light-text">
                    Tel: <a href="tel:55 14 50 65 90">(55) 14 50 65 90</a>
                </p>
                <p class="light-text">
                    Correo: <a href="mailto:kapital@kapitalsoluciones.com">kapital@kapitalsoluciones.com</a>
                </p>
            </div>
            <div class="col-sm-4 p-5">
                <h3>Síguenos</h3>
                <div class="d-flex flex-row justify-content-between">
                    <a href="" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="hr"> &nbsp; </div>
        <div class="row">
            <div class="col-sm-12 d-flex flex-row justify-content-center">
                © 2019 Kapital Soluciones Inmobiliarias S.A de C.V.
            </div>
        </div>
    </div>
</div>